.App {
  padding: 2rem 6rem;
}
.container {
  padding: 0 6vw;
}
.inline-block {
  display: inline-block;
}
button {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
