
@font-face {
  font-family: avenir;
  src: url("./assets/fonts/avenir/Avenir-Book.woff");
}
@font-face {
  font-family: avenir-light;
  src: url("./assets/fonts/avenir/Avenir-Light.woff");
}
@font-face {
  font-family: avenir-medium;
  src: url("./assets/fonts/avenir/Avenir-Medium.woff");
}


body {
  margin: 0;
  font-family: avenir;

  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


